body {
    font-family: 'Red Hat Mono', serif;
    box-sizing: border-box;
}

.game-img {
    width: 100%;
}

.about-col {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col p {
    font-size: 20px;
}

.register-header {
    text-align: center;
}

.register-dob {
    display: flex;
    flex-direction: column;
}

.register-dob label {
    margin-bottom: 0.5rem;
}

.register-dob input {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.register-row {
    margin-bottom: 1rem;
}

.register-check {
    margin-bottom: 1rem;
}

.register-btn:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}

.login-header {
    text-align: center;
}

.login-btn:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}

.login-row {
    margin-bottom: 1rem;
}

.account-header {
    text-align: center;
}

.account-btn:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}

.account-container {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

main .account-container:hover {
    background-color: #3d3d3d;
    border: 1px solid white;
    transition: 1s;
}

.cart-container h1 {
    text-align: center;
}

.cart-btn:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}

.cart-info {
    background-color: #494949;
    padding: 1rem;
    border-radius: 5px;
    max-height: 230px;
}

.cart-subtotal {
    display: block;
    font-size: 2rem;
}

.cart-taxfees {
    font-size: 1.2rem;
}

.cart-price {
    color: #fff5f5;
    font-weight: 700;
}

.cart-tax {
    font-weight: 500;
}

.cart-main {
    padding: 2rem;
}

.cart-item {
    margin-bottom: 1.5rem;
    border: 1px solid transparent;
}

.cart-item .item-info {
    padding: 0.5rem;
}

.cart-item .item-img {
    padding-left: 0;
}

.cart-item:hover {
    background-color: #3d3d3d;
    border: 1px solid white;
    transition: 1s;
}

.cart-item img {
    width: 100%;
}

.cart-item .item-name {
    font-weight: 600;
    font-size: 1.3rem;
}

.cart-item .item-price {
    text-align: right;
    font-weight: 500;
    font-size: 1.2rem;
}

.cart-item .item-company {
    font-size: 0.8rem;
    color: #c5c5c5;
    font-style: italic;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0,0,0,.07);
    font-family: Arial,sans-serif;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    min-height: 35px;
    transition: all .12s ease;
    box-shadow: none;
    border-radius: 2px;
    transition: background .2s linear 0s;
}

.input-sm {
    font-size: 13px;
    min-height: 32px;
    height: 32px;
    padding: 8px 9px;
}

.table tbody tr td {
    background: #fff;
    border-bottom: 1px solid rgba(230,230,230,.7);
    border-top: 0;
    padding: 20px;
    font-size: 13.5px;
}

.table.dataTable.no-footer {
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

.img-ss-list {
    max-height: 35px;
    margin-right: 6px;
}

/* Formatting search box */
.search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}