    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

    :root {
        --dark-0: #000000;
        --dark-1: #0C0C0C;
        --dark-2: #202020;
        --dark-3: #353535;
        --dark-4: #494949;
        --dark-5: #5d5d5d;
        --dark-6: #727272;

        --light-0: #353535;
        --light-1: #515151;
        --light-2: #6e6e6e;
        --light-3: #8b8b8b;
        --light-4: #a8a8a8;
        --light-5: #c5c5c5;
        --light-6: #e2e2e2;
    }

    html {
        height: 100%;
    }

    body {
        font-family: 'Red Hat Mono', serif;
        box-sizing: border-box;
        background-image: url("../images/background.jpg");
        background-blend-mode: multiply;
        background-size: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        letter-spacing: -1px;
    }

    main {
        background-color: var(--dark-3);
        box-shadow: 0px 0px 15px 2px var(--dark-3);
        /* margin-right: 2rem !important;
        margin-left: 2rem !important; */
        width: 80vw;
        margin: auto;
        flex: 1 1 auto;
    }

    section {
        overflow: hidden;
    }

    nav {
        box-shadow: 0px 5px 7px 5px var(--dark-3);
        position: relative;
    }

    nav .nav-home {
        font-weight: 800;
    }

    .navbar {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

    nav {
        position: relative;
        background-color: var(--dark-1);
    }

    nav .brand {
        font-family: 'Poppins';
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--light-6);
        /* background-color: rgb(105, 100, 105); */
        border-radius: 5px;
        margin-left: -2px;
        text-shadow: 0px 0px 5px var(--light-3);
    }


    .modal-container {
        padding: 1rem;
        background-color: var(--dark-3);
        box-shadow: 0px 0px 10px 2px var(--light-2);
        color: var(--light-5);
    }

    .modal-container .close:hover {
        transition: 0.5s;
        background-color: var(--light-5);
    }

    footer {
        background-color: var(--dark-1);
        box-shadow: 0px -5px 10px 5px var(--dark-3);
    }

    footer a {
        border-radius: 100% !important;
    }


    footer i {
        align-self: center !important;
        width: 150%;
        font-size: 2rem;

    }

    footer input::placeholder {
        font-family: 'Red Hat Mono',
            serif;
    }

    .footer-copy {
        color: var(--light-2);
        background-color: var(--dark-2);
        box-shadow: 0px 0px 10px 3px var(--dark-3);
        font-size: 0.8rem;
    }

    .footer-copy a {
        color: var(--light-2);
        text-decoration: none;
        font-style: italic;
    }

    .footer-copy a:hover {
        color: var(--light-4);
    }


    .footer-row {
        display: flex;
    }

    .footer-btn {
        margin-right: 1rem;
        color: var(--light-6);
    }

    .footer-btn:hover {
        transition: 0.5s;
        color: var(--light-4);
    }

    .index-featured {
        color: var(--light-6);
        padding-bottom: 2rem;
    }

    .index-featured h2 {
        text-decoration: underline;
        font-weight: 300;
    }

    .home-container {
        padding: 0;
        border-radius: 0;
        background: var(--light-6);
        box-shadow: 0px 0px 10px 2px var(--dark-3);
    }

    .home-container .game-images {
        border-radius: 0;
    }

    /* INDEX.PHP CSS HERE */
    .carousel-item img {
        width: 100%;
    }

    .game-thumbnail-card a {
        text-decoration: none;
        color: #000000;
    }

    .thumbnail-wrapper {
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .card-img-top {
        display: block;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .card-img-top:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .game-img {
        width: 100%;
    }


    /* ABOUT.PHP CSS HERE */
    .about-col {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-col p {
        font-size: 20px;
    }

    .about-col {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-col p {
        font-size: 20px;
    }

    .about-wrapper {
        background-image: url("../images/about-wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        min-height: 830px;
        color: white;
    }

    .about-container .content {
        padding: 3rem;
    }

    .about-container .about-header {
        display: inline block;
        font-size: 3.5rem;
        width: 50%;
        border-bottom: 1px solid white;
        font-weight: 300;
    }

    .about-container .content .about-author {
        margin-bottom: 2.5rem;
        font-size: 1.4rem;
    }

    .about-container .content .about-main-text {
        font-size: 1.1rem;
        margin-right: 50%;
        margin-bottom: 2rem;
    }

    .about-container .content ul {
        margin-bottom: 2rem;
    }

    .about-container .content .about-main-text a {
        text-decoration: none;
        color: var(--light-4);
        background-color: var(--light-1);
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;
        border-radius: 5px;
    }

    .about-container .content .about-main-text a:hover {
        color: var(--light-5);
        text-decoration: underline;
        transition: 0.5s;
    }

    .about-container {
        padding: 0;
        box-shadow: 0px 0px 50px 10px var(--dark-0);
    }

    .about-container .about-members {
        padding: 3rem;
        padding-top: 2rem;
    }

    .about-members .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .about-members .member img {
        border-radius: 100%;
        margin-bottom: 0.4rem;
        box-shadow: 0px 0px 8px 1px var(--light-2);
    }

    .about-members .member .member-name {
        font-weight: 300;
        font-size: 1rem;
    }

    .about-members .member .member-title {
        font-weight: 600;
        font-size: 1rem;
    }

    .about-member-profiles {
        display: flex;
    }


    .about-members h1 {
        display: inline;
        font-size: 2.5rem !important;
    }

    .about-member-profiles {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .about-members .about-author {
        margin-top: 0.5rem;
    }

    .register-container {
        padding: 2rem;
    }

    .register-header {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .register-dob {
        display: flex;
        flex-direction: column;
    }

    .register-dob label {
        margin-bottom: 0.5rem;
    }

    .register-dob input {
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;
    }

    .register-row {
        margin-bottom: 1rem;
    }

    .register-check {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .register-btn:hover {
        background-color: #d1d1d1;
        border-color: #d1d1d1;
    }

    .login-header {
        text-align: center;
    }

    .login-btn:hover {
        background-color: #d1d1d1;
        border-color: #d1d1d1;
    }

    .login-row {
        margin-bottom: 1rem;
    }

    .account-main-container {
        display: flex;
        flex-direction: column;
    }

    .account-main-container .account-container:nth-child(4) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .account-main-container .account-container:nth-child(5) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .account-header {
        text-align: center;
    }

    .account-btn:hover {
        background-color: #d1d1d1;
        border-color: #d1d1d1;
    }

    .account-container {
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid transparent;
    }

    .account-stats {
        display: flex;
        flex-direction: column;
    }

    .account-stats div {
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }

    .account-stats span:first-child {
        min-width: 130px;
    }

    .account-stats span:nth-child(2) {
        min-width: 200px;
        background-color: var(--light-4);
        color: var(--dark-3);
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
    }

    .account-stats span:nth-child(2):hover {
        background-color: var(--light-3);
        transition: 0.3s;
    }


    main .account-container:hover {
        background-color: #3d3d3d;
        border: 1px solid white;
        transition: 1s;
    }

    .cart-container h1 {
        text-align: center;
        margin-top: 1.5rem;
    }

    .cart-container form {
        display: flex;
        flex-direction: column;
    }

    .cart-container .cart-check {
        margin-bottom: 1rem !important;
    }

    .cart-btn:hover {
        background-color: #d1d1d1;
        border-color: #d1d1d1;
    }

    .cart-container .cart-btn:last-child {
        margin-left: 0.5rem;
    }


    .cart-info {
        background-color: #494949;
        padding: 1rem;
        border-radius: 5px;
        max-height: 230px;
    }

    .cart-subtotal {
        display: block;
        font-size: 2rem;
    }

    .cart-taxfees {
        font-size: 1.2rem;
    }

    .cart-price {
        color: #fff5f5;
        font-weight: 700;
    }

    .cart-tax {
        font-weight: 500;
    }

    .cart-main {
        padding: 2rem;
    }

    .cart-item {
        margin-bottom: 1.5rem;
        border: 1px solid transparent;
    }

    .cart-item .item-info {
        padding: 0.5rem;
    }

    .cart-item .item-img {
        padding-left: 0;
    }


    .cart-item img {
        width: 100%;
    }

    .cart-item .item-name {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .cart-item .item-price {
        text-align: right;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .cart-item .item-company {
        font-size: 0.8rem;
        color: #c5c5c5;
        font-style: italic;
    }

    .cart-item .item-cancel {
        text-align: right;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .game-container {
        background-color: #353535;
        padding: 2rem;
        border-radius: 5px;
    }

    .game-container .game-header {
        font-size: 2rem;
    }

    .game-header-img {
        margin-bottom: 0.5rem;
    }

    .game-images {
        border-radius: 10px;
        overflow: hidden;
    }

    .game-info {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .game-description-container {
        background-color: #3d3d3d;
        padding: 0.8rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    .game-description-container:hover {
        background-color: #5f5f5f;
        cursor: pointer;
    }

    .game-info .game-description {
        font-size: 0.9rem;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #b3b3b3;
    }

    .game-info .game-description-header {
        align-self: start;
        border-bottom: 1px solid white;
        font-size: 1.5rem;
        display: inline-block;
        margin-bottom: 1rem;
    }

    .game-info img {
        width: 100%;
    }

    .game-info>span {
        align-self: flex-start;
        font-size: 1.0rem;
    }

    .game-requirements button {
        font-size: 1rem;
    }

    .game-genres {
        align-self: flex-start;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .game-genre {
        padding: 0.3rem;
        margin-right: 0.5rem;
        border-radius: 3px;
        background-color: var(--light-5);
        color: black;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    .game-genre:hover {
        background-color: var(--light-4);
    }


    .game-categories {
        align-self: flex-start;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .game-category {
        /* padding: 0.3rem; */
        margin-right: 0.5rem;
        border-radius: 3px;
        background-color: var(--dark-2);
        color: var(--light-5);
        font-size: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    .game-category:hover {
        background-color: var(--dark-3);
    }



    .game-dev-info {
        font-size: 1.4rem;
        font-style: italic;
    }

    .game-purchase {
        background-color: #d1d1d1;
        color: black;
        border-radius: 5px;
        padding: 0.2rem;
    }

    .game-price-details {
        display: inline;
        align-self: flex-start;
        padding: 0.4rem;
        background-color: #494949;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        border: 1px solid #616161;
        margin-top: 1rem;
    }

    .game-price {
        display: inline-block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: 400;
    }

    .game-dev-info {
        text-align: end;
        font-size: 1.0rem;
        color: #c4b2b2;
    }

    .game-requirements {
        margin-top: 1.5rem;
    }

    .game-requirements .container {
        padding: 0;
    }

    .game-requirements>span {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .game-badges {
        background-color: var(--light-6);
        padding: 0.5rem;
        border-radius: 5px;
        margin-top: 1rem;
    }

    .form-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid rgba(0, 0, 0, .07);
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        outline: 0;
        height: 35px;
        padding: 9px 12px;
        line-height: normal;
        font-size: 14px;
        font-weight: 400;
        vertical-align: middle;
        min-height: 35px;
        transition: all .12s ease;
        box-shadow: none;
        border-radius: 2px;
        transition: background .2s linear 0s;
    }

    .input-sm {
        font-size: 13px;
        min-height: 32px;
        height: 32px;
        padding: 8px 9px;
    }

    .gameslist-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: var(--light-6);
    }

    .gameslist-container th {
        color: var(--light-5);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        letter-spacing: 1.2px;
    }

    .gameslist-container td {
        color: var(--light-5);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }


    /* .gameslist-container tbody tr:hover {
        background-color: var(--dark-5);
        box-shadow: 0px 0px 10px 5px var(--light-3);
        transition: 0.3s;
    } */

    .gameslist-container .gameslist-thumbnail {
        width: 100%;
    }


    .gameslist-desc {
        max-width: 750px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: auto;
    }

    .gameslist-rows {
        cursor: pointer;
    }

    .gameslist-header {
        padding: 2rem;
    }

    .search-box {
        width: 100%;
        position: relative;
        display: block;
        font-size: 14px;
        margin-bottom: 2rem;
    }

    .search-box form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .search-txt {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .search-box form input[name="search"] {
        width: 600px;
        margin-right: 1rem;
        font-family: 'Red Hat Mono',
            serif;
    }

    .search-box .search-box input {
        font-family: 'Red Hat Mono',
            serif;
    }

    .result {
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;

    }

    .result {
        width: 100%;
        box-sizing: border-box;
    }

    /* Formatting result items */
    .result p {
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
        background: #212529;
    }

    .result p:hover {
        background: #f2f2f2;
    }

    .btn-link {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: #0000EE;
        padding: 0;
        text-decoration: underline;
        font-family: inherit;
        font-size: inherit;
    }

    .login-success-container {
        padding: 2rem;
    }

    .register-success-container {
        padding: 2rem;
        flex-grow: 1;
        margin-top: -2rem;
    }

    .checkout-container {
        padding: 0;
    }

    .checkout-gift-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .checkout-gift-container h4 {
        font-weight: 300;
        color: var(--light-5);
    }

    .checkout-gift-container div {
        width: 100%;
    }

    .checkout-gift-container input {
        font-family: 'Red Hat Mono', sans-serif;
        border-radius: 5px;
    }

    .checkout-container .cart-item {
        margin: 0;
    }

    .checkout-container .item-info {
        padding-left: 0;
    }

    .checkout-gift-btn {
        width: 50%;
    }

    .checkout-right .item-row {
        padding: 1rem;
    }

    .checkout-right .item-img {
        padding-right: 0;
    }

    .checkout-container form {
        margin-bottom: 1.5rem;
    }

    .checkout-left {
        padding: 1.5rem;
    }

    .checkout-left h1 {
        font-size: 1.7rem;
        font-weight: 300;
        color: var(--light-4);
    }

    .checkout-left span a:first-child {
        text-decoration: none;
        color: var(--light-4);
        background-color: var(--light-1);
        border-radius: 5px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .checkout-left hr {
        margin-top: 0.5rem;
    }

    .checkout-left span a:first-child:hover {
        color: var(--light-6);
        text-decoration: underline;
    }

    .checkout-left form>div {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
    }

    .checkout-left form>div>label {
        min-width: 100px;
        font-size: 0.9rem;
    }

    .checkout-left form>div>span {
        flex-grow: 1;
        display: inline-block;
        background-color: var(--light-3);
        padding: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    .checkout-left .checkout-main-btn {
        width: 100%;
    }

    .checkout-container .checkout-right {
        background-color: var(--light-5);
        padding: 1.2rem;
        color: var(--dark-3);
    }

    .checkout-right h2 {
        margin-top: 0.5rem;
        font-size: 1.8rem;
        color: var(--light-2);
        border-bottom: 1px solid var(--light-3);
        font-weight: 300;
    }

    .checkout-btn {
        width: 100%;
        font-weight: 600;
    }

    .checkout-right h3 {
        font-size: 1rem;
    }

    .checkout-right .checkout-promo div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;
    }

    .checkout-right .checkout-promo div>input {
        flex-grow: 1;
        margin-right: 0.5rem;
        border-radius: 6px;
        font-family: 'Red Hat Mono', sans-serif;
    }

    .checkout-right .checkout-promo div>button:hover {
        background-color: var(--light-3);
        border-color: var(--light-4);
        color: var(--dark-2);
    }

    .checkout-btn:hover {
        border-color: var(--dark-4);
        background-color: var(--dark-4);
        color: var(--light-6);
    }

    .checkout-right .badge-pill {
        font-size: 1rem !important;
        color: var(--dark-4);
        border-radius: 100%;
        background-color: var(--light-4);
        animation: pulse 3s 3s infinite;
    }

    @keyframes pulse {
        from {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(0.95);
            opacity: 0.9;
            color: var(--light-5);
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .ord-container {
        color: var(--light-6);
        text-align: start;
    }

    .ord-container h1 {
        margin-top: 2rem;
        text-align: start;
        font-weight: 300;
        text-decoration: underline;
    }

    .ord-success-text {
        display: inline-block;
        background-color: rgb(38, 102, 38);
        color: var(--light-6);
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .ord-info {
        margin-bottom: 2rem;
        padding: 1rem;
        padding-top: 0;
    }

    .ord-info>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.2rem;
    }

    .ord-info>div>span:nth-child(2) {
        background-color: var(--dark-5);
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        border-radius: 5px;
        min-width: 400px;
        text-align: start;
    }


    @media screen and (min-width: 992px) {
        .mobile-img {
            display: none;
        }
    }

    @media screen and (max-width: 992px) {
        .footer-btn-subscribe {
            margin-top: 0.8rem;
            width: 100%;
        }

        .footer-btn-container {
            margin-top: -1rem;
            width: 100%;
        }

        .footer-email {
            margin-bottom: 0 !important;
        }

        .mobile-none {
            display: none !important;
        }

        .gameslist-desc {
            display: none !important;
        }

        td:nth-child(1),
        th:nth-child(1) {
            display: none !important;
        }

        .gameslist-container th {
            font-size: 1.1em !important;
        }

        .cart-subtotal {
            font-size: 1.6rem;
        }

        .account-main-container .row {
            margin-bottom: 0.5rem;
        }

        .account-main-container .cart-main {
            padding-bottom: 0;
        }

        .account-main-container .item-name {
            font-size: 1rem;
        }

        .account-main-container .account-update-pw .register-row div {
            margin-bottom: 1rem;
        }

        .account-main-container .account-update-pw .register-row div:last-child {
            margin-bottom: 1.3rem;
        }


        .cart-container .cart-btn:nth-child(2) {
            margin-left: 0;
            margin-top: 1rem;
        }

        .about-wrapper {
            background-position: 58% 50%;
        }

        .about-wrapper h1 {
            font-size: 3rem !important;
            width: 100% !important;
            margin-bottom: 1rem;
        }

        .about-wrapper .about-author {
            font-size: 1.1rem;
        }

        .about-wrapper .about-main-text {
            margin-right: 20% !important;
        }

        .ord-info>div>span:nth-child(2) {
            min-width: 300px;
            font-size: 0.8rem;
        }

        .ord-info>div {
            margin-bottom: 0.5rem;
        }
    }

    @media screen and (max-width: 768px) {}